
<br/>
<div class="row">
    <div class="col-md-3 col-sm-auto">
        <label>Enter Date : </label>
        <input id="table-complete-search" type="date" class="form-control" name="scheduledDate"
            [(ngModel)]="SelectedDate">
    </div>

    <div class="col-md-3 col-sm-auto">
        <label style="display: none;">data </label>
        <button type="submit" class="btn btn-info" (click)="SearchBookingsReq(SelectedDate)">Search</button>
    </div>
</div>

<br />
<table class="table">
    <thead>
        <tr>
            <th scope="col">AirLine Name</th>
            <th scope="col">StartPoint - EndPoint</th>
            <th scope="col">User Email</th>
            <th scope="col">Seat</th>
            <th scope="col">Total Amount</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let obj of Bookings">
            <td> {{obj.airlineName}}</td>
            <td>{{obj.startPoint}} - {{obj.endPoint}}</td>
            <td>{{obj.email}}</td>
            <td>{{obj.seat}}</td>
            <td>{{obj.total}}</td>
        </tr>
    </tbody>
</table>