<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:darkslateblue;">
<b>  <label style="color: black;">Flight Booking Service</label></b>

  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" style="cursor:pointer" *ngIf="LoggedIn(true) && RoleCheck() === 2"
          routerLink="/flightlist"><b>Available Flights</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="cursor:pointer" *ngIf="LoggedIn(true) && RoleCheck() === 2"
          routerLink="/bookinglist"><b>Your Bookings</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="cursor:pointer" *ngIf="LoggedIn(true) && RoleCheck() === 1"
          routerLink="/flightlist"><b>Flight Management</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="cursor:pointer" *ngIf="LoggedIn(true) && RoleCheck() === 1"
          routerLink="/userlist"><b>User Management</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="cursor:pointer" *ngIf="LoggedIn(true) && RoleCheck() === 1"
          routerLink="/userlist"><b>Today's Reservation</b></a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" style="cursor:pointer;display: flex;" *ngIf="LoggedIn(false)" routerLink="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="cursor:pointer" *ngIf="LoggedIn(false)" routerLink="/register">
          <b>Register</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="cursor:pointer" *ngIf="LoggedIn(true)" (click)="LogOut()">
          <b>Logout</b>
        </a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>