<br />
<br />
<div class="mb-3 row">

  <div class="col-xs-3 col-sm-auto">
    <button *ngIf="RoleCheck() === 1" class="btn btn-primary" (click)="CreatNewFlight()">
      Add New Flight</button>
  </div>
</div>

<label for="table-complete-search" class="col-xs-3 col-sm-auto col-form-label">Search Flight:</label>
<div class="mb-3 row">
  <div class="col-md-3 col-sm-auto">
    <label>Source</label>
    <select class="form-control" 
    data-live-search="true" [(ngModel)]="searchedFlight.startPoint">
      <option *ngFor="let city of AvailableCityList" name="startPoint" [ngValue]="city.cityName">
        {{city.cityName}}
      </option>
    </select>
  </div>
  <div class="col-md-3 col-sm-auto">
    <label>Destination</label>
    <select class="form-control" data-live-search="true" [(ngModel)]="searchedFlight.endPoint">
      <option *ngFor="let city of AvailableCityList" name="endPoint" [ngValue]="city.cityName">
        {{city.cityName}}
      </option>
    </select>
  </div>
  <div class="col-md-3 col-sm-auto">
    <label>Airline Name</label>
    <select class="form-control" name="airlineName" [(ngModel)]="searchedFlight.airlineName">
      <option *ngFor="let airline of AirlineList" [ngValue]="airline.airlineName">{{airline.airlineName}}
      </option>
    </select>
  </div>
  <div class="col-md-3 col-sm-auto">
    <label>Journey Date</label>
    <input id="table-complete-search" type="date" class="form-control" name="scheduledDate"
      [(ngModel)]="searchedFlight.scheduledDate">
  </div>
  <div>
    <br />
    <button type="submit" class="btn btn-info form-control col-md-3"
      (click)="SearchFlightReq(searchedFlight)">Search</button>
  </div>
</div>
<br />
<div class="row">
  <div class="col-sm-3 mb-3" style="max-width: 18rem;" *ngIf="AvailablrFLights.length === 0">
    <p> No data available </p>
  </div>
  <div class="col-sm-3 mb-3" style="max-width: 18rem;" *ngFor="let flight of AvailablrFLights">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{flight.airlineName}}</h5>
        <p class="card-text">From : {{flight.startPoint}} </p>
        <p class="card-text">To : {{flight.endPoint}} </p>
        <p>Price : {{flight.price}}</p>
        <p class="card-text">Scheduled Date : {{flight.scheduledDate | date: 'dd/MM/yyyy'}} </p>
        <hr>
        <button (click)="BookTickets(flight)" *ngIf="RoleCheck() === 2" class="btn btn-primary">Book Tickets</button>
        <button (click)="ModifyFlight(flight)" *ngIf="RoleCheck() === 1" class="btn btn-primary">Modify Flight</button>
      </div>
    </div>
  </div>
</div>