<br />
<table class="table">
    <thead>
        <tr>
            <th scope="col">Pnr number</th>
            <th scope="col">AirLine Name</th>
            <th scope="col">Flight Date</th>
            <th scope="col">Total</th>
            <th scope="col">StartPoint - EndPoint</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let booking of BookingList">
            <th> {{booking.pnrno}}</th>
            <td>{{booking.flightName}}</td>
            <td>{{booking.scheduledDate | date: 'dd/MM/yyyy'}}</td>
            <td>{{booking.total}}</td>
            <td>{{booking.startPoint}} - {{booking.endPoint}}</td>
            <td>
                <input type="button" value="Edit" (click)="EditBooking(booking)" />
            </td>
        </tr>
    </tbody>
</table>